                                             <!-- ======= Testimonials ======= -->
                                             <section class="testimonial-carouseltwo-main">
                                                <!-- <div class="container aos" data-aos="fade-up" data-aos-duration="1000">
                                                  <div class="owl-carousel owl-theme testimonial-carouseltwo">
                                                    <owl-carousel-o [options]="customOptions">
                                                        <ng-container *ngFor="let slide of brandslide">
                                                            <ng-template carouselslide>
                                                                <div class="company-logo">
                                                                    <img src="{{ slide.img }}" alt="image" class="img-fluid">
                                                                  </div>
                                                            </ng-template>
                                                        </ng-container>
                                                    </owl-carousel-o>
                                                
                                                   
                                                  </div>
                                                  </div> -->
                                                  <div class="container aos" data-aos="fade-up" data-aos-duration="1000">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <div class="company-logo">
                                                                <img src="assets/img/image-8.png" alt="image" class="img-fluid">
                                                              </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div class="company-logo">
                                                                <img src="assets/img/image-9.png" alt="image" class="img-fluid">
                                                              </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div class="company-logo">
                                                                <img src="assets/img/image-10.png" alt="image" class="img-fluid">
                                                              </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div class="company-logo">
                                                                <img src="assets/img/image-11.png" alt="image" class="img-fluid">
                                                              </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div class="company-logo">
                                                                <img src="assets/img/image-12.png" alt="image" class="img-fluid">
                                                              </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div class="company-logo">
                                                                <img src="assets/img/image-10.png" alt="image" class="img-fluid">
                                                              </div>
                                                        </div>
                                                    </div>
                                                     
                                                  </div>
                                                 
                                         
                                              </section>
                                                  <!-- ======= Testimonials ======= -->