    <!-- ======= Testimonials ======= -->
    <section class="testimonials-main">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 aos" data-aos="fade-up" data-aos-duration="1000">
              <div class="testimonials common-main-header">
                <div class="section-header ">
                  <span>TESTIMONIALS</span>
                  <h2>What People Say About Us.</h2>
                </div>
              </div>
            </div>
            <div class="col-lg-6 aos" data-aos="fade-up" data-aos-duration="1000">
         
                  <div class="testimonials-all">
                    <div class="inner-box">
                      <p>Why is this important? Because clients want to know the businesses they depend on for advice, are well managed in their own right.  
                      </p>
                        <h5 class="name">Mike taylor</h5>
                        <span class="designation">Lahore, Pakistan</span>
                    </div>
                    <img src="assets/img/image-7.png" alt="image" class="img-fluid">
                  </div>
                  
                 
         
            </div>
          </div>
        </div>
      </section>
                                  <!-- ======= Testimonials ======= -->