
                        <!-- ======= Next Trip ======= -->
                        <section class="next-trip">
                            <div class="container">
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="next-trip-main common-main-header">
                                    <div class="section-header ">
                                      <span class="aos" data-aos="fade-up" data-aos-duration="1000">Easy and Fast</span>
                                      <h2 class="aos" data-aos="fade-up" data-aos-duration="1000">Book Your Next Trip In 3 Easy Steps</h2>
                                      <div class="choose-destination aos" data-aos="fade-up" data-aos-duration="1000">
                                        <div class="get-icon">
                                          <i class="fa-solid fa-box-archive"></i>
                                        </div>
                                        <div class="get-right">
                                          <h6>Choose Destination</h6>
                                          <p>Duas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui offici</p>
                                        </div>
                                      </div>
                                      <div class="choose-destination choose-destination-one aos" data-aos="fade-up" data-aos-duration="2000">
                                        <div class="get-icon">
                                          <i class="fa-solid fa-person-swimming"></i>
                                        </div>
                                        <div class="get-right">
                                          <h6>Make Payment</h6>
                                          <p>Duas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui offici</p>
                                        </div>
                                      </div>
                                      <div class="choose-destination choose-destination-two aos" data-aos="fade-up" data-aos-duration="3000">
                                        <div class="get-icon">
                                          <i class="fa-solid fa-car"></i>
                                        </div>
                                        <div class="get-right">
                                          <h6>Reach Airport on Selected Date</h6>
                                          <p>Duas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui offici</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                
                                </div>
                                <div class="col-lg-6 aos" data-aos="fade-up" data-aos-duration="1000">
                                  <div class="service-widget">
                                    <div class="service-img">
                                      <a href="">
                                        <img src="assets/img/image-6.jpg" alt="image" class="img-fluid">
                                      </a>
                                    </div>
                                    <div class="service-content">
                                      <h6>Trip To Greece</h6>
                                      <p>14-29 June | by Robbin</p>
                                      <div class="service-icon">
                                        <span><i class="fa-solid fa-leaf"></i></span>
                                        <span><i class="fa-regular fa-map"></i></span>
                                        <span><i class="fa-solid fa-location-arrow"></i></span>
                                      </div>
                                      <div class="service-people">
                                        <p><i class="fa-solid fa-building"></i>  24 people going</p>
                                        <i class="fa-regular fa-heart"></i>
                                      </div>
                                    </div>
                                    <div class="trip-completeds bounce">
                                      <div class="choose-destination choose-destination-trip">
                                        <img src="assets/img/image-7.png" alt="image" class="img-fluid">
                                        <div class="get-right">
                                          <p>ongoing</p>
                                          <h6>Trip to rome</h6>
                                          <p><span>40%</span> completed</p>
                                          <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                        </div>
                                      </div> 
                                      
                                    </div>
                                  </div>
                                 
                                </div>
                              </div>
                            </div>
                          </section>
                            <!-- ======= Next Trip ======= -->