   <!-- ======= Subscribe ======= -->
   <section class="subscribe-main aos" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
      <div class="subscribe">
        <h2>Subscribe to get information, latest news and other interesting offers and jadoo</h2>
        <form>
          <div class="form-set">
  <div class="group-img">
    <i class="fa-regular fa-envelope"></i>
  <input type="text" class="form-control" placeholder="Your email">
</div>							
</div>
          <button class="btn btn-primary" type="submit"> Subscribe</button>	 						
      </form>
      <div class="tele-icon">
        <i class="fa-solid fa-paper-plane"></i>
      </div>
      </div>
    </div>
  </section>
