           <!-- ======= Hero Section ======= -->
           <section id="hero" class="">
            <div class="container">
             <div class="row">
                 <div class="col-lg-6">
                     <div class="banner-para">
                         <span class="aos" data-aos="fade-up" data-aos-duration="1000">Best Destinations Around the world</span>
                         <h1 class="aos" data-aos="fade-up" data-aos-duration="1500">Travel, enjoy and live a new and full life</h1>
                         <p class="aos" data-aos="fade-up" data-aos-duration="2000">Built  Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the</p>
                        <div class="banner-btn aos" data-aos="fade-up" data-aos-duration="2500">
                         <a href="javascript:void(0);" class="make-appointment">Find out more</a>
                         <a href="" class="play-main">
                             <i class="fa-solid fa-play"></i>
                             <h6 class="play-demo"> Play Demo</h6>
                         </a>
                        
                        </div>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="banner-ryt-img aos" data-aos="fade-up" data-aos-duration="1500">
                         <img src="assets/img/image-1.png" alt="Banner Image" class="img-fluid">
                         <div class="aeroplane">
                           <img src="assets/img/image-2.svg" alt="aeroplane" class="aeroplane-1">
                           <img src="assets/img/image-2.svg" alt="aeroplane" class="aeroplane-2">
                         </div>
                     </div>
                   
                 </div>
             </div>
            
            </div>
             
         </section>
     <!-- ======= Hero Section ======= -->